.Products_list_container_mobile {
    display: none;
}

@media (max-width: 767.98px) {
    .Products_list_container_mobile {
        display: block;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.Products_list_container_mobile h3 {
    color: rgb(126, 125, 125);
    font-weight: bold;
}

.Products_list_container_mobile > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;    
}

.Products_list_container_mobile > div:not(:first-of-type) {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #f1f1f8;
    background-color:#f1f1f8;
    box-shadow: -3px 4px 10px 1px #aaaaaa;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.Products_list_container_mobile > div:first-of-type > p {
    margin: 0;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 15px;
    width: fit-content;
    font-size: 19px;
    border: 1px solid #f1f1f8;
    background-color:#f1f1f8;
    color: rgb(126, 125, 125);
    box-shadow: 0 2px 4px 1px #aaaaaa;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.Product_container_mobile > div {
    display: flex;
    align-items: center;
}

.Product_container_mobile p {
    color: rgb(126, 125, 125);
}

.Product_container_mobile span {
    font-weight: bold;
}

.Product_change_qtde {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 150px;
}

.Product_change_qtde > svg {
    padding: 10px;
    border: 1px solid #DDDEDF;
    height: 20px;
    width: 20px!important;
    text-align: center;
    cursor: pointer;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
