.Search_container {
   margin-top: 20px;
   margin-bottom: 20px;

}

.Search_container>div>svg {
   padding-right: 10px;

}

.Search_container>div>input {
   outline: 0;
   border: 0;
   border-bottom: 1px solid #DDDEDF;
   background: transparent;
   font-size: 20px;
   padding-left: 5px;
   width: 89%;
}

@media (min-width: 768px) {
   .Search_container>div>input {
      width: 50%;
   }
}

@media (min-width: 1366px) {
   .Search_container>div>input {
      width: 30%;
   }
}

.Search_container>span {
   font-size: 14px;
   color: red;
}