.FormOutput_container {
    width: 100%;
    position: relative;
}

@media (min-width: 1366px) {
    .FormOutput_container {
        width: 70%;
    }
}

.FormOutput_container > div:not(:last-of-type) {
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 1920px) {
    .FormOutput_container > div:not(:last-of-type) {
        font-size: 20px;
    }
    
}

.FormOutput_container > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#DDDEDF;
    height: 60px;
}

.Search_container {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.Search_container > div > svg {
    padding-right: 10px;
    
}

.Search_container > div > input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    background: transparent;
    font-size: 20px;
    padding-left: 5px;
    width: 89%;
}

@media (min-width: 768px) {
    .Search_container > div > input {
        width: 50%;
    }
}

@media (min-width: 1366px) {
    .Search_container > div > input {
        width: 30%;
    }
}

.Search_container > span {
    font-size: 14px;
    color: red;
}


