.FormOutput_container {
    background-color: #F5F9FE;
    width: 70%;
}

@media (max-width: 991.98px) {
    .FormOutput_container {
        width: 100%;
        position: relative;
    }
}

.FormOutput_container > div:not(:last-of-type) {
    padding-left: 25px;
    padding-right: 25px;
}

.FormOutput_container > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#DDDEDF;
    height: 100px;
}

@media (max-width: 767.98px) {
    .FormOutput_container > div:first-of-type {
        height: 60px;
    }
}

.Search_container {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.Search_container > svg {
    padding-right: 10px;
    
}

.Search_container > input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    background: transparent;
    font-size: 20px;
    padding-left: 5px;
}

@media (max-width: 991.98px) {
    .Search_container > input {
        width: 50%;
    }
}

@media (max-width: 767.98px) {
    .Search_container > input {
        width: 90%;
    }
}

.FormOutput_header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDEDF;
    color: rgb(126, 125, 125);
}

.FormOutput_header > * {
    flex-basis: 22.5%;
    flex-grow: 0;
    flex-shrink: 0;
}

.FormOutput_header > *:not(:first-of-type) {
    text-align: center;
}

.FormOutput_header > p:first-of-type,
.FormOutput_header > p:last-of-type {
    flex-basis: 5%;
    flex-grow: 0;
    flex-shrink: 0;
}

@media (max-width: 767.98px) {
    .FormOutput_header,
    .Products_list_container {
        display: none;
    }
}

.Product_container {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
}

.Product_container > * {
    flex-basis: 22.5%;
    flex-grow: 0;
    flex-shrink: 0;
}

.Product_container > *:not(:first-of-type) {
    text-align: center;
}

.Product_container > p:first-of-type,
.Product_container > svg {
    flex-basis: 5%;
    flex-grow: 0;
    flex-shrink: 0;
}

.Product_container > svg {
    cursor: pointer;
}

.Product_container > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Product_change_qtde > svg {
    padding: 10px;
    border: 1px solid #DDDEDF;
    height: 20px;
    width: 20px!important;
    text-align: center;
    cursor: pointer;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Product_container > div > p:nth-of-type(2) {
    padding-top: 10px;
}


/* ** */

.Products_list_container_mobile {
    display: none;
}

@media (max-width: 767.98px) {
    .Products_list_container_mobile {
        display: block;
    }
}

.Products_list_container_mobile h3 {
    color: rgb(126, 125, 125);
    font-weight: bold;
}

.Products_list_container_mobile > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;    
}

.Products_list_container_mobile > div:not(:first-of-type) {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #f1f1f8;
    background-color:#f1f1f8;
    box-shadow: -3px 4px 10px 1px #aaaaaa;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.Products_list_container_mobile > div:first-of-type > p {
    margin: 0;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 15px;
    width: fit-content;
    font-size: 19px;
    border: 1px solid #f1f1f8;
    background-color:#f1f1f8;
    color: rgb(126, 125, 125);
    box-shadow: 0 2px 4px 1px #aaaaaa;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.Product_container_mobile > div {
    display: flex;
    align-items: center;
}

.Product_container_mobile p {
    color: rgb(126, 125, 125);
}

.Product_container_mobile span {
    font-weight: bold;
}

.Product_container_mobile .Product_change_qtde {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 150px;
}

/* */

.Open_modal_button {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #37be76;
    background-color: #37be76;
    box-shadow: -3px 4px 6px 1px #888888;
    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 991.98px) {
    .Open_modal_button {
        display: flex;
    }
}