.FormOutput_header {
   display: none;
}

@media (min-width: 768px) {
   .FormOutput_header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #DDDEDF;
      color: rgb(126, 125, 125);
   }
}

.FormOutput_header>* {
   display: flex;
   align-items: center;
   justify-content: center;

   flex-basis: 21.25%;
   flex-grow: 0;
   flex-shrink: 0;
}

.FormOutput_header>*>p {
   margin-left: 8px;
   margin-right: 8px;
}

.FormOutput_header>* {
   text-align: center;
}

.FormOutput_header>* svg {
   cursor: pointer;
   // color: rgb(126, 125, 125);
}

.FormOutput_header>div:first-of-type,
.FormOutput_header>p {
   flex-basis: 5%;
   flex-grow: 0;
   flex-shrink: 0;
}

.FormOutput_header>div:first-of-type {
   flex-basis: 10%;
}