body {
   background-color: #F5F9FE;
}

.Layout_container {
   display: flex;
   height: 100vh;
   background-color: #F5F9FE;
   position: relative;
}

.Layout_container>div:nth-of-type(2) {
   display: none;
}

@media (min-width: 1366px) {
   .Layout_container>div:nth-of-type(2) {
      display: block;
   }
}