.Layout_container {
    display: flex;
}

.Open_modal_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #37be76;
    background-color: #37be76;
    box-shadow: -3px 4px 6px 1px #888888;
    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Layout_container > div:nth-of-type(2) {
    display: none;
}

@media (min-width: 992px) {
    .Layout_container > div:nth-of-type(2) {
        display: block;
    }

    .Open_modal_button {
        display: none;
    }
}